# Naive Bayes
Para chegar em uma hipótese(H)
Precisamos de um conjunto de evidências(E)

In [14]:
import pandas as pd
import spacy
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [16]:
df = pd.read_json('../model/News_Category_Dataset_v3.json', lines=True)
df = df.drop(columns=['link', 'authors', 'date'])
df.head()

,headline,category,short_description
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha..."
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to..."
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...

In [15]:
# Transforma os vetores em números
vector = CountVectorizer()
X = vector.fit_transform(df[df.columns[0]])
x_train, x_test, y_train, y_test = train_test_split(X, df[df.columns[1]], test_size=0.2, random_state=42)

In [17]:
# Fazendo o treinamento com naive_bayes
nb = MultinomialNB()
nb.fit(x_train, y_train)
y_pred = nb.predict(x_test)

In [19]:
# Calculando a acurácia do modelo
accuracy = accuracy_score(y_test, y_pred)
print(f"Acurácia: {accuracy}")

Acurácia: 0.5115257958287596